@import "reset.css";
@import "status-bar.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "home.css";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lilita+One&display=swap');
body {
    font-family: 'Do Hyeon', sans-serif;
}

.welcome-header {
    margin-top: 120px;
    text-align: center;   
}

.welcome-header_title {
    font-family: 'Lilita One', cursive;
    font-size: 70px;
}

.welcome-header_text {
    margin:100px;
    font-size: 20px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.login-form input {
    margin-bottom: 10px;
    background-color: white;
    width: 150px;
    height: 25px;

    border: none;
    border-bottom: 1px solid gray;
}

.login-form input:nth-child(2) {
    margin-bottom: 30px;
}

.login-form input[type= "submit"] { 
    width: 100px;
    height: 30px;
    font-size: 15px;

    border: 1px solid black;
    border-radius: 20px;
    box-shadow:  1px 3px dimgray;
}

.login-form a {
    text-decoration: none;
    margin-top: 30px;
}

