.nav_notification {
    background-color: tomato;
    color: white;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 45px;
    left: 215px;
}

.badge {
    background-color: tomato;
    color: white;
    font-size: 15px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    
    padding: 2px;
    margin: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}