.nav {
    background-color: white;
    padding: 28px 60px ;
    position: fixed;
    bottom:0;
    width:100%;
    box-sizing: border-box;
    font-size: 28px;

    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav_list {
    display: flex; 
    justify-content: space-between;

}

.nav_list i {
    color: rgba(0, 0, 0, 0.8);
}

