.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 20px;
    font-size: 28px;
}
.screen-header_icon i{
    margin-left: 20px;
    color: rgba(0,0,0,0.8);
}
.screen-header_icon-heart{
    color:palevioletred;
  
}


